.top {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  height: 200px;
}

.top .timer {
  font-size: 120px;
}

@media( min-width: 1300px ) {
  .top .timer {
    font-size: 135px;
  }
}

@media( min-width: 1500px ) {
  .top .timer {
    font-size: 150px;
  }
}